/**
 * Editing Form CSS
 *
 * @package  TwitterFeed
 * @author   Gabriel Ignisca <gabriel@designjunkie.com>
 * @license  http://www.gnu.org/copyleft/gpl.html GPL3
 * @link     http://designjunkie.com
 */

/**
 * All
 */
#tfFormContainer .nav-tabs>li>a:focus {
    outline: 0;
}

#tfFirstRun {
    padding-top: 20%;
}

/**
 * Accounts
 */
#tfAccounts .row {
    margin-top: 20px;
}

#tfAccounts table td {
    vertical-align: middle;
}

#tfAuthorizing img {
    margin-top: 50px;
    margin-bottom: 20px;
}

#tfAuthorizing h2 {
    font-size: 26px;
    margin-bottom: 25px;
}

/**
 * Appearance
 */
#tfAppearance {
    margin-top: 20px;
}

#tfAppearance table td {
    vertical-align: middle;
}

#tfAppearance table td label {
    margin-bottom: 0;
    padding-bottom: 0;
}

/**
 * General
 */
#tfGeneral {
    margin-top: 20px;
}
